html {
    position: relative;
    min-height: 100%;
}


body {
    overflow:auto;
    background-image: url("color gradient.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 50px;
    padding-bottom: 33px;
}

.header {
    margin-bottom: 15px;
    text-align:center;
    font-family: Didot;
    background-color:#39c2ce;
    color:white;
    font-size:60px;
    margin-left: 0;
    margin-top:0;
    margin-right:0;
    width:100%;
    
}
.menu {
    overflow:hidden;
    text-align:center;
  
}
.menu a {
    background-color:white;
    font-family:Andale Mono;
    color:black;
    padding:15px;
    text-decoration:none;
    font-size:20px;
    display:inline-block;
    border-radius: 5px 5px 5px 5px;
    width:25%;
}

.menu a:hover {
    color:white;
    background-color:#6f76a5;
    transition:0.6s;
    width:27%;
    
}

.menu a:active {
    background-color:#6f76a5;
    color:white;
}

h1 a:hover {
    font-size:62px;
    transition:0.3s;
}

.content {
    margin-left:4%;
    margin-right:4%;
    font-size:19px;
    font-family:courier;
    text-align:center;
    padding: 20px;
    margin-bottom: 25px;
}

.footer {
    background-color: white;
    position:absolute;
    width:100%;
    height:50px;
    left:0;
    bottom:0;
    overflow:hidden;
    text-align: left;
    font-family: Didot;
    font-size: 15px;
    padding: 15px;
    display: block;
}



.footer a {
    float: right;
    text-decoration:none;
    color:black;
}

.footer a:hover {
    color: #48a1d6;
}

#poem1 {
    display:inline-block;
    text-align:left;
    font-size:17px;
    font-family:times;
    background-color: rgba(255, 255, 255, 0.4);
    width:75%;
}

#poem2 {
    display:none;
    text-align:left;
    font-size:17px;
    font-family:times;
    background-color: rgba(255, 255, 255, 0.4);
    width:75%;
}

.content #poem1 {

}

.content #poem2 {

}


.column {
    float: left;

}

.left {
    margin-left: 0;
    width: 35%;
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 25px;

}

.right {
    width: 60%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    padding-left: 20px;
    padding-bottom: 25px;
    float:left;
    text-align:justify;
    font-size: 20px;
    font-family: Bell MT;
}

.right p{
    text-indent: 50px;
}

.right h2{
    font-family: Andale Mono;
    text-align: left;
    font-size: 29px;
}



.row:after {
    content: "";
    display: table;
    clear: both;
}

#nextButton {
    float:right;
    display:inline-block;
    visibility:visible;
}

#prevButton {
    float:left;
    display:inline-block;
    visibility:hidden;
}

#pageNum {
    display:inline-block;
    text-align:center;
}

.navButtons p{
    color:black;
    width:10%;
}

.navButtons p:hover {
    cursor:pointer;
    color:#355e68;
    display:inline-block;
    width:10%;
}

.menuButton {
    display: inline-block;
    float:left;
    cursor:pointer;
}

.menuButton:hover {
    cursor:pointer;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav p:hover, .offcanvas p:focus{
    color: #f1f1f1;
    cursor: pointer;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
